.container {
    display: flex;
    gap: 20px;
    margin: 10px;
}

/* Sidebars */

.Rsidebar {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    flex: 0 0 20%;
}

.Lsidebar {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    flex: 0 0 20%;
}

/* Posts Section */

.posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #f4f4f4;
}

.post p { /* Descendant Selector */
    color: #242424;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.post-header + p { /* Adjacent Sibling Selector */
    font-style: italic;  
}

.post-header .date {
  margin-left: auto;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.post-photo {
    width: 100%;
    margin-top: 10px;
}

.like {
    margin-top: 5px;
    background: none;
    border: none;
    font-size: 18px;
}

.post p ~ .like { /* General Sibling Selector */
    cursor: pointer;
}

.profile-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    padding-right: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #c7c2c2;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 200px;
    text-align: left;
    padding: 10px;
    z-index: 100; /* makes the dropdown pop-up on top of all the other content */
}

.dropdown-menu p {
    margin: 8px 10px;
    font-size: 14px;
    color: #333;
}

.logout-button {
    display: block;
    padding: 8px 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown-menu.show {
    display: block; /* treats the dropdown like a card */
}

/* Footer */

#main-footer { /* ID Selector */
    background: #e36414;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Phone view */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .Lsidebar, .Rsidebar {
        display: none;
    }

    .posts {
        flex: 1 1 100%;
    }
}